@use '../../index.scss' as V;


.Main {
    background: V.$purewhite-color;
    border-radius: 8px;
    padding: 2rem; 
    margin: 4rem; 
    margin-top: 10rem; 

    p {
        font-family: "Karla"; 
        margin-bottom: 3rem; 
        line-height: 1.7; 
    }

    h2 {
        font-family: "Karla";
        margin-bottom: 1.5rem; 
    }
}
