@use '../../index.scss' as V;


.Header {

    .Navbar {
        background-color: V.$olive-color;
    }
    img {
        width: 100%;
        height: 60vh;
        position: auto;
        z-index: -1;
    }
}