@use '../../index.scss' as V;


.Header {
    .Svg {
        height: 10rem;
        width: 10rem;
        border-radius: 5rem;
        background-color: V.$greener-color;
        position: absolute;
        z-index: 1;
        margin-left: 45%;
        
        img {
            height: 8vh;
            width: 8vw;
           margin-top: 5rem;
           margin-left: 1.2rem;
            
         }
    }
    h1 {
        font-family: "Marck Script", cursive;
        font-size: 6rem;
        position: absolute;
        margin-top: 15rem;
        margin-left: 40%;
        color: V.$purewhite-color;
        
    }
    .Navbar {
        background-color: V.$greener-color;
        z-index: 1;
        padding: 1.5rem;
        a {
            flex-direction: row;
            margin: 1rem;
            text-decoration: none;
            color: V.$purewhite-color;
            font-family: "Karla";

            &:hover {
                color: V.$olive-color;
            }
            
        }
    }
    img {
        width: 100%;
        height: 60vh;
        position: auto;
        z-index: -2;
    }
    container {
        background-color: V.$lighter-color;
        position: absolute;
        margin-top: 25rem;
        margin-left: 12rem;
        border-radius: 8px;
        width: 75%;
        height: 25%;
        

        h2 {
           font-family: "Karla";
           text-align: center;
           margin-top: 5rem;
           color: V.$darker-color;
         
            
        }
    }
}