@use '../../index.scss' as V;

.Footer {

    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: V.$greener-color;
    text-align: center;
    padding: 20px 0;
    
    container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        padding: 0.5rem;
        div {
           
         p {
            font-family: "Karla";
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 1.5rem;
            
         }   
        }
    }
}